div
  h3.text-center This is the search view (if you have a search)
  br
  br
  p.text-center
    | {{$ctrl.message}}

  .container
    .row
      .col-md-8.col-md-offset-2
        .input-group.input-group-lg
          input#searchInput.form-control(type='text', ng-model="$ctrl.searchViewData.searchBoxTerm", placeholder='Try searching for something!')
          span.input-group-btn
            button#searchSubmit.btn.btn-primary.btn-lg(type='submit', ng-click="$ctrl.initNewSearch()") Search
