body {
  padding-top: 65px
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Navbar modifications */
.navbar-brand {
  padding: 25px 15px;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: aliceblue;
}
.container .text-muted {
  margin: 20px 0;
}