body {
  padding-top: 71px
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Navbar modifications */
.navbar {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
.navbar-brand {
  padding: 25px 15px;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* ".navbar-gold" theme (use with .navbar-inverse) */
.navbar-inverse.navbar-gold {
  background-color: #c5bd63;
  border-color: #5f5400;
}
.navbar-inverse.navbar-gold .navbar-brand {
  color: #5f5400;
}
.navbar-inverse.navbar-gold .navbar-nav > .active > a {
  color: white;
  background-color: #9e9051;
}
.navbar-inverse.navbar-gold .navbar-nav > li > a {
  color: #5f5400;
}
.navbar-inverse.navbar-gold a:hover {
  font-weight: 600;
}

/* ".navbar-bold" theme for pills */
.nav-pills.navbar-gold li.active > a {
  color: white;
  background-color: #9e9051;
}
.nav-pills.navbar-gold > li > a {
  color: #5f5400;
}
/*.nav-pills.navbar-gold > li > a:hover {*/
  /*background-color: #efece0;*/
/*}*/

/* view content */
[ng-view] {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: aliceblue;
}
.container .text-muted {
  margin: 20px 0;
}