style.
  about-me > div {
    padding-top: 20px;
    font-size: 20px;
    color: #777
  }
  img {
    width: 120px;
    border: 5px solid #9e9051;
    margin-top: 10px;
  }

.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    .row
      .col-md-4.col-sm-4.col-xs-4
        img#aboutMeImg.img-circle.img-responsive.center-block(
          src="/images/linkedin-profile.jpg")
      .col-md-8.col-sm-8.col-xs-8.text-left
        h2.text-primary {{$ctrl.aboutMeData.title}}
        h3.text-muted {{$ctrl.aboutMeData.subtitle}}
    .row
      .col-md-12
        hr
.row
  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-justify
    p(ng-repeat="paragraph in $ctrl.aboutMeData.descriptionParagraphs") {{paragraph}}
