style.
  timeline-panel {
    border-radius: 10px;
  }
  .timeline-dates {
    font-family: 'consolas', 'menlo', monospace;
  }
  .resume-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .resume-skill-badge {
    display: block;
    font-size: 18px;
    margin-right: 5px;
  }

.row
  .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
    br
    h2.text-primary.text-center
      | My Resume &nbsp
      a.btn.btn-default(href="/assets/resume.pdf")
        | Printer Friendly &nbsp
        span.glyphicon.glyphicon-download-alt
    hr
.row
  .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
    h3.text-muted.text-center Experience
    timeline
      timeline-event(ng-repeat='experience in $ctrl.resumeData.workExperience')
        timeline-badge(class='{{experience.badgeClass}}')
          i.glyphicon(class='{{experience.badgeIconClass}}')
        timeline-panel(class='{{experience.badgeClass}}')
          timeline-heading
            h4.timeline-dates.text-info {{experience.dates}}
            hr
            h3 {{experience.title}}
            h4
              i {{experience.company}}
          p.text-muted {{experience.content}}

    br

    h3.text-muted.text-center Education
    timeline
      timeline-event
        timeline-badge(class='{{$ctrl.resumeData.education.badgeClass}}')
          i.glyphicon(class='{{$ctrl.resumeData.education.badgeIconClass}}')
        timeline-panel(class='{{$ctrl.resumeData.education.badgeClass}}')
          timeline-heading
            h4.timeline-dates.text-info Graduated: {{$ctrl.resumeData.education.graduated}}
            hr
            h3 {{$ctrl.resumeData.education.college}}
            h4
              i {{$ctrl.resumeData.education.location}}
          h4 {{$ctrl.resumeData.education.degree}}

    br

    div(ng-repeat="skill in $ctrl.resumeData.skills")
      br
      h3.resume-skill-title.text-muted.text-center {{skill.name}}
        // TODO: add better skill badges (perhaps in a panel??)
      .row
        .resume-skills.col-md-12
          span(ng-repeat="skillKeyword in skill.keywords")
            span.resume-skill-badge.label(class="{{skill.labelClass}}") {{skillKeyword}}
            | &nbsp;